.modal-content {
    background-color: rgb(50, 50, 50, 0.6);
}
.modal-header {
    border: 0;
}
.modal-footer {
    border: 0;
}
.modal-title {
    color: white;
}
#nameFloating {
    color: white;
}
#emailFloating {
    color: white;
}
#userFloating {
    color: white;
}
#PassFloating {
    color: white;
}