body {
    background-image: 
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
     ),  
     url('./img/bckG.jpg')
    
}
#cont {
    background-color: rgba(37, 37, 37, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
h1 {
    color: white;
    filter: opacity(100%);
    filter: blur(2px);
}